.headerContainer {
  height: 40px;
  width: 100vw;
  padding: 0.25rem 1rem;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-family: "Marcellus", sans-serif;
  position: fixed;
}

.link {
  all: unset;
  display: flex;
  align-items: center;
  gap: 1rem;
}

