.container td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: 600;
  color: var(--text);
}

.container td:first-child {
  padding-left: 1rem;
  flex-wrap: wrap;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.btn {
  background-color: transparent;
  border: 0;
}

.btn:hover {
  outline: 1px solid var(--borders);
}

.done span {
  color: var(--muted);
  text-decoration: line-through;
}

.checkbox {
  width: 1.2rem;
  height: 1.2rem;
}
