@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
:root{
    --header-height: 40px;
    --bg-color: #e8e6e1;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.font, h1, p {
  font-family: "Marcellus", sans-serif;
}

main{
    padding-top: var(--header-height);
}

section {
  min-height: calc(100dvh - var(--header-height));
}
